*{
	padding:0;
	margin:0;
	
}
body {
  background: white;
}

.container {
  background-color: bisque;
  height: 30em; /* vh vw em rem */
  width:6em;
  margin:10px; 
  display:flex;
  align-items:center;
  
}
